.eventos-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

}

.evento {
    width: 90%;
    max-width: 500px;
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 3px;
    cursor: pointer;
}

.evento:hover {
    background-color: rgba(225, 235, 238, 0.5);
}

.evento-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.asociacion-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.asociacion-nombre {
    font-weight: bold;
    font-size: 1.1rem;
}

.evento-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.evento-descripcion {
    font-size: 0.95rem;
    color: #333;
    margin-bottom: 10px;
}

.evento-footer {
    display: flex;
    justify-content: space-between;
}

.btn-eventos {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}

.btn-eventos:hover {
    opacity: 1;
}

.btn-join {
    background: #007bff;
    color: white;
}

.btn-join:hover {
    background: #0056b3;
}

.evento-divider {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
}

